name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  assemble_and_test:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: run build with fastlane
        run: bundle exec fastlane assemble

      - name: run tests with fastlane
        run: bundle exec fastlane test